
.PostCreate-wrapper {
  width: 100%;
  max-width: 768px;
  height: 100vh;
  margin: 0 auto;
}

.PostCreate-container {
  width: 100%;
  height: 100%;
}

.PostCreate-post-btn-box {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.PostCreate-post-btn1,
.PostCreate-post-btn2 {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.PostCreate-title-box {
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 1px solid #000;
  margin: 0 auto;
  margin-bottom: 10px;
}

.PostCreate-title-box input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.PostCreate-text-box {
  width: 95%;
  height: 90%;
  border: 1px solid #000;
  margin: 0 auto;
}

.PostCreate-text-box input {
  width: 100%;
  height: 75%;
  background-color: transparent;
  border: none;
  
}

.picture-box-container {
  width: 100%;
  height: 16%;
  display: flex;
  align-items: center;
}

.picture-box {
  width: 25%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-right: 5px;
}

.picture-box:first-child {
  margin-left: 5px;
}

.picture-box:last-child {
  margin-right: 0;
}

.picture-add {
  width: 15%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue-color);
  color: var(--yellow-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  cursor: pointer;
  margin-right: 10px;
}
