/* 공통컬러 속성지정  */
:root {
  --font-inter: "noto";
  --blue-color: #4b4eba;
  --yellow-color: #f0c648;
  --skyblue-color: #afe0fe;
  --border-color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

.PostCreate-wrapper {
  position: relative;
  width: 100%;
  max-width: 768px;
  height: 896px;
  margin: 0 auto;
}

.PostCreate-container {
  position: absolute;
  top: 80px;
  width: 100%;
  height: 100%;
}

.PostCreate-post-btn-box {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.PostCreate-post-btn1,
.PostCreate-post-btn2 {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 10px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.PostCreate-title-box {
  width: 95%;
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 1.5rem;
  border: 1px solid #000;
}

.PostCreate-title-box input {
  width: 90%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.PostCreate-text-box {
  width: 95%;
  height: 90%;
  margin: 0 auto;
}

.PostCreate-text-box input {
  width: 100%;
  height: 75%;
  background-color: transparent;
  border: 1px solid #000;
}

.picture-box-container {
  width: 100%;
  height: 12%;
  display: flex;
  align-items: center;
}

.picture-box {
  width: 25%;
  height: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content:space-around;
  align-items: center;
  margin-right: 15px;
  margin-top: 20px;
}

.picture-add {
  width: 15%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--blue-color);
  color: var(--yellow-color);
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 15px;
}
